@import url('https://fonts.googleapis.com/css?family=Fondamento|Lobster&display=swap');
html,
body {
    height: 100%;
    overflow: hidden;
    background: #ffe259;
    background: linear-gradient(to left, #8924a8, #ba382f);
}


/*--------variables-----------*/

:root {
    --primary-gradient: linear-gradient( to right, #4e4376, #2b5876);
    --mango-gradient: linear-gradient(to right, #ffa751, #ffe259);
    --text-color: #f7f9f9;
    --montserrat: "montserrat", cursive;
    --lobster: "lobster", cursive;
    --primary-shadow: 3px 4px 7px rgba(27, 27, 27, 0.534);
    --border-color: rgba(0, 0, 0, 0.329);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    max-height: 610px;
}

.container .panel {
    width: 60%;
    height: 72%;
    box-sizing: var(--primary-gradient);
}

.row {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100%;
    background: #fff;
}

.liquid {
    background: url(../logimg/a\ \(7\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.liquid h1 {
    text-align: left;
    padding: 0 2rem;
    color: whitesmoke;
    font-family: var(--montserrat);
}

.owl-carousel {
    width: 100%;
    height: 320px;
    max-height: 330px;
}

.owl-carousel.owl-item.login1 {
    float: right;
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 3rem;
}

.owl-dots {
    position: fixed;
    padding: 3rem 1.2rem;
    display: flex!important;
    flex-direction: column;
    transform: translateY(-240px);
}

.owl-dots button {
    border-radius: 5rem;
    margin: .3rem 0;
}

.owl-dots button span {
    background: var(--text-color)!important;
    margin: 0rem .6rem!important;
}

.owl-dots.active {
    border: 1px solid #ffd765!important;
}

.owl-dots.active span {
    background: #ffd765!important;
    margin: .3rem .5rem!important;
}

.follow {
    padding: 0 1.4rem;
    padding-top: 1.4rem;
    font-family: var(--lobster);
    color: whitesmoke;
    position: relative;
    font-size: .9rem;
    margin-top: -1rem;
}

.follow::after {
    content: "";
    position: absolute;
    left: 14%;
    width: 50px;
    border: 1px solid whitesmoke;
    border-radius: 4rem;
    margin-top: .5rem;
}

.follow i:first-child {
    margin-left: 4rem;
}


/*------second col login--------*/

.col-login {
    background: linear-gradient( to top, rgb(212, 92, 92), white);
}

.btn {
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 4rem;
    background: #2b5876;
    color: whitesmoke;
    font-size: .7rem;
    font-family: var(--montserrat);
    box-shadow: var(--primary-shadow);
    cursor: pointer;
}

.login .btn-signup,
form .btn-login {
    background: var(--primary-gradient);
    float: right;
    margin: 1rem;
}

.titles {
    margin: 2.2rem;
}

form {
    height: 55%;
    max-height: 280px;
    margin-top: 5.5rem;
}

form h3,
form h6 {
    font-family: var(--montserrat);
    padding: 0;
    margin: 0;
    padding-left: 3rem;
}

form h6 {
    padding-left: 4.5rem;
    font-family: var(--lobster);
    color: #444444d2;
}

form .form-group {
    text-align: left;
    border: 1px solid var(--border-color);
    margin-top: .9rem;
    margin-right: 2rem;
    border-radius: 3rem;
}

form .form-group .form-input {
    padding: .5rem 1rem;
    background: transparent;
    border: none;
    font-family: var(--montserrat);
    font-size: .8rem;
    overflow: hidden;
}

form input:focus {
    outline: none;
}

form .input-icon {
    display: inline;
    color: var(--border-color);
}

form .btn-login {
    float: none;
    padding: .8rem 5rem;
    margin-left: 2rem;
}

.animation-area {
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: 150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    widows: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    widows: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}